header {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    .header-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        background-color: #232b2b;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            &.active {
                img {
                    max-width: 150px;
                }
            }
            img {
                max-width: 100px;
                width: 100%;
                transition: max-width 0.5s ease-in-out;
            }
        }
        .navigation-bar {
            display: flex;
            gap: 20px;

            button {
                font-family: "Courier New", Courier, monospace;
                padding: 10px 40px;
                background-color: #232b2b;
                color: aliceblue;
                border: none;
                outline:1.5px solid aliceblue;
                @media (max-width: 991px) {
                    display: none !important;
                }
            }
            .icons-bar {
                display: flex;
                align-items: center;
                gap: 8px;
                @media (max-width: 991px) {
                    display: none !important;
                }
                img {
                    max-width: 20px;
                    border-radius: 30px;
                }
            }
            .menu-toggle-button {
                color: #f4f4f9;
                font-size: 26px;
                display: none !important;
                @media (max-width: 991px) {
                    display: block !important;
                }
            }
            align-items: center;
            nav {
                font-family: "Courier New", Courier, monospace;
                display: block ;
                margin: 0px 10px;
                @media (max-width: 991px) {
                    position: fixed;
                    width: 50%;
                    top: 103px;
                    background-color: #232b2b;
                    right: 0;
                    display: none ;
                    padding: 20px 40px;
                    box-sizing: border-box;
                    a {
                        color: #f4f4f9;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: 0.5s linear;
                    }
                }
                display: flex;
                gap: 20px;
                color: aliceblue;
                font-family: "Courier New", Courier, monospace;
                transition: linear;

                a {
                    font-family: "Courier New", Courier, monospace;
                    text-decoration: none;
                    padding: 12px 20px;
                    color: #e2e1e7;
                    border-radius: 4px;
                    transition: 0.5s linear;
                }
                :hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
