.main-hero-section{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 10px;
    .hero-sec-wrapper{
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 0px;
        img{
            width: 100%;
        }
    }
}